body {
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 174, 255),
    rgb(3, 90, 190)
  );
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#content {
  position: relative;
  top: 200px;
  font-size: 75px;

  text-align: center;
  margin: auto;
  padding: 10px;
}

#typeOfConversion {
  text-shadow: 2px 2px 4px #000000;
  color: white;
  cursor: pointer;
}

select {
  text-shadow: 2px 2px 4px #4d4d4d;
  border: none;
  outline: none;
  color: white;
  background-color: cornflowerblue;
  cursor: pointer;
  position: relative;
  top: -25px;
  font-size: 19px;
  padding: 10px;
  height: 50px;
  width: 226px;
}

option {
  text-align: center;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#equals {
  text-shadow: 2px 2px 4px #000000;
  color: white;
  display: inline;
  position: relative;
  top: 19px;
  left: 10px;
}

input[type="text"] {
  border: 1px solid;
  border: none;
  box-shadow: 2px 2px grey;
  outline: none;
  font-size: 30px;
  padding: 10px;
  height: 50px;
  width: 200px;
}

#left {
  margin-right: 39px;
}
