body {
  
}
* {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



.riddle-click {
  color: rgb(255, 102, 0);
  cursor: pointer;

  font-size: 40px;
}

.riddle-click:hover {
  color: brown;
}

#riddlePlace, #answerPlace {
    text-align: center;

    font-size: 30px;
}

#answerButton {
  transition-duration: .4s;
  outline: none;
  background-color: rgb(233, 153, 96);
  border: 1px solid black;
  cursor: pointer;
width: 100px;
height: 40px;
}

#riddleButton:hover {
  background-color: rgb(223, 136, 74);

}
